
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: montserrat;
    background-color: #490e6774;
    padding: 80px;
}

h1{ 
        padding: 40px;
       
        font-size: 30px;

}

.question{
    padding: 30px;
    font-size: 20px;

    
}

h3{
    padding: 40px;
   
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


fieldset {
    border: none;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 10px;
}



button {
    background-color: #490E67;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background-color: #490e6782;
}


#result {
    margin-top: 20px;
    font-size: 30px;
}

.hidden {
    display: none;
}

